
.box {
  text-align: center;
  background-color: #00B5D8;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: all 0.2s ease;
}

.loader {
  position: relative;
  width: 5px;
  height: 5px;

  background-color: #fff;
  border-radius: 50px;
}

.loader:before {
  content: '';
  position: absolute;
  top: -48px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-radius: 0 50px 0px 0;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  border-radius: 0 0px 0px 50px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
